
@page

@model WAD_ASSIGNMENT.Pages.SportModel
@{
    Layout = "Customer_Layout";
    ViewData["Title"] = "Sport";
}

<html>
<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
<body>
    <main>
        <section class="more-news">
            <div class="news-section">
                @*<main>*@

                @*<div>*@
                @foreach (News_ClassLibrary.Logic.Classes.NewsArticle cont in Model.articles)
                {

                    @if (cont.NewsType == "SPORT")


                    {

                        <article class="sport">

                            <h2>@cont.NewsType</h2>
                            <p><img id="popular-news img" src="~/photo/@cont.Img" alt="" /></p>
                            <h3>@cont.Title</h3>
                            <p>@cont.Description</p>
                            <p>@cont.NewsType</p>
                            <p>@cont.Author</p>
                            <p>@cont.Date</p>


                            <a asp-page="Details" asp-route-ID="@cont.NewsID"></a>
                            @*<p>@cont.Comment</p>*@

                            <a asp-page="Details" asp-route-ID="@cont.NewsID"></a>


                        </article>

                        @*</main>*@

                    }

                }
            </div>
            @*<div class="recent-news">*@
                <aside>
                    <article class="sport">
                        <h2>SPORT</h2>
                        <img src="images/sport1.jpg">
                        <h3>Syria crisis: Obama rejects US military intervention</h3>
                        <p>This is some dummy copy. You’re not really supposed to read this dummy copy, it is just a place holder for people who need some type to visualize what the actual copy might look like if it were real content. If you want to read, I might suggest a good […]</p>
                        <p>AUTHOR: JENNY ADAMS</p>
                        <p>DATE: 13/11/21</p>
                    </article>


                </aside>
                @*</div>*@

        </section>
            </main>

        </body>
        </html>
